
.calendardivider{
    height: 150px;
    color:rgb(253, 252, 252);
}

.calendarbox{

    display: flex;
    text-align: center;
    position: center;
    border-radius: 5px;
    background-image: linear-gradient(to right bottom, #a541da, #935be6, #826fed, #7480f1, #6b8ef2, #668df3, #618df3, #5b8cf4, #597cf5, #6169f4, #6f52ee, #8033e5);left: '100%';
    top: '100%';
    transform: 'translate(-50%, -50%)';
    //border: 3px solid linear-gradient(to left top, #8a4bec, #7a58ee, #6a63ef, #5c6bee, #4f73eb, #4c72eb, #4870ec, #456fec, #4e64ef, #5c58f0, #6b48ef, #7c33ec);
    // padding: 15px;
    // margin: 20px;
}
.calendar{
    display:flex;
    border-radius: 5px;
    position: center;
    left: '100%';
    top: '100%';
    transform: 'translate(-50%, -50%)';
    justify-content: space-between;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right bottom, #a541da, #935be6, #826fed, #7480f1, #6b8ef2, #668df3, #618df3, #5b8cf4, #597cf5, #6169f4, #6f52ee, #8033e5);
}

.week{
    display:flex;
    align-items:center;
    align-content: center;
    color: whitesmoke;
    flex-direction: row;
    justify-content:space-between;
    // font-size: 23px;
    // column-gap: 0.1cm;
    row-gap: 0.5cm;

}

.other-day{
    color:rgb(177, 174, 174);
    display:flex;
    align-items:center;
}

.form-select {
    background: linear-gradient(0deg, rgba(38,182,203,1) 0%, rgba(58,21,193,1) 100%);
    overflow: hidden;
}
.today{
    background-color:rgb(74, 228, 233) ;
    border-radius: 50%;
}

.picker{
    display: inline-block;
    text-align: center;
    user-select: none;
    cursor: pointer;
    background-color: linear-gradient(0deg,rgba(103,44,207,1) 0%, rgb(170, 57, 214) 25%, rgb(37, 142, 228) 100%);
    color: #fff;
    border-top-right-radius: 50%;
    &.start{
        border-radius: 12px 0 0 12px;
    }
    &.between{
        border-radius: 0;
    }
    &.end{
        border-radius: 0 12px 12px 0;
    }

}
    
// .pickerbox{
//     display: flex;
//     text-align: center;
//     position: center;
//     border-radius: 15px;
//     background: linear-gradient(0deg,rgba(103,44,207,1) 0%, rgb(170, 57, 214) 25%, rgb(37, 142, 228) 100%);
//     color: #fff;
//     left: '100%';
//     top: '100%';
//     transform: 'translate(-50%, -50%)';
// }

.select {
    position: center;
    display: flex;
    background: transparent;
    display: flex;
    // width: 125px;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 10px 10px 10px 10px;
    text-align: center;
    // text-overflow: '';
    // text-indent: 15px;
    
    option[disabled] {
        background:rgb(29, 29, 102);
    }
}

.buttonDONE{
    // display:flex;
    align-items:right;
    text-align: center;
    bottom: 15px;
    font-size: 13px;
    color:white;
    background-color: #db3bdb;
    border-radius: 15px;
    margin: 8px;
    padding:8px;
    width: 80px;
}

.buttonCANCEL{
    // display:flex;
    align-items:left;
    text-align: center;
    bottom: 15px;
    font-size: 13px;
    color:rgb(73, 71, 71);
    background-color: #f3eff3;
    border-radius: 15px;
    margin: 8px;
    padding:8px;
    width: 80px;
}

