.divider{
    height: 150px;
    background-color: #9DA1A8;
}
.box{
    text-align: center;
    position: 'center';
    left: '100%';
    top: '100%';
    transform: 'translate(-50%, -50%)';
    border: 3px solid #9DA1A8;
    padding: 15px;
    margin: 20px;
}

.popup{
    // text-align: left;
    position: center;
    left: '100%';
    top: '100%';
    transform: 'translate(-50%, -50%)';
    height: 100px;
    width: 330px;
    // margin: 20px; 
    // border: 10px solid linear-gradient(to left top, #8a4bec, #7a58ee, #6a63ef, #5c6bee, #4f73eb, #4c72eb, #4870ec, #456fec, #4e64ef, #5c58f0, #6b48ef, #7c33ec);
    
}

.buttonLeft{
    text-align: left;
    // position: relative;
    // left: 35px;
    bottom: 15px;
    font-size: 13px;
}
.buttonRight{
    text-align: left;
    // position: relative;
    //left: 15px;
    bottom: 15px;
    font-size: 13px;
}

.dateLeftButton{
    text-align: center;
    // position: relative;
    // right: 58px;
    // top: 5px;
    font-size: 20px;
    color: #A964CD;                        
    font-weight: bold;
    
}
.dateRightButton{
    text-align: center;
    font-size: 20px;
    color: #6CA5FC;
    font-weight: bold;
}

.table {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction:row-reverse;
    justify-content:flex-start;
    align-items:flex-start;
    // position: end;
    // justify-content: start;
    // align-items: center;
  }
    
  table {
    border: 2px solid forestgreen;
    width: 800px;
    height: 200px;
  }
    
  th {
    border-bottom: 1px solid black;
    
  }
    
  td {
    text-align: center;
  }